{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to URL Slicer {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="url" placeholder="URL to shorten" class="form-control"
            value="{{ request.form['url'] }}" autofocus></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% if short_url %}
<hr>
<span id="short-url"><a href="{{short_url}}" >{{ short_url }}</s></span>
<button id = "copy" class="btn btn-success">Copy URL</button>
{% endif %}

<script>
    var btn = document.getElementById("copy");
    btn.addEventListener('click', (e) => myFunction(e))

    function myFunction(evt) {
        evt.target.innerText = "copied"
        evt.target.disabled = true
        
        var copyText = document.getElementById("short-url");
        navigator.clipboard.writeText(copyText.innerText);

    }

</script>
{% endblock %}